* {
	box-sizing: border-box;
}

html, body {
	overflow: hidden;
	padding: 0;
	margin: 0;
}

.background__desert {
	background-image: url('../images/background-desktop.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	top: 0;
	left: -70px;
	bottom: 0;
	right: -70px;
}

.background__surround {
	background-image: url('../images/background-desktop-hand--01.png');
	background-size: auto 100%;
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	top: 0;
	left: -70px;
	bottom: 0;
	right: -70px;
}

.app {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	background-image: url('../images/portrait/background.jpg');
	background-size: cover;
}

.app--phone {
}

.app--desktop {
	width: 54vh;
	height: 96vh;
}

.portrait,
.portrait__layer {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-size: auto 100%;
	overflow: hidden;
}

.portrait__layer {
	transition: opacity 0.15s ease-out;
}

.portrait__layer--inactive {
	opacity: 0;
}

.portrait__layer--active {
	opacity: 1;
}

.portrait__layer-image {
	position: absolute;
	top: 50%;
	left: 50%;
	height: 100%;
	width: auto;
	transform: translate(-50%, -50%);
}

@keyframes sprite {
	100% {
		transform: translateX(-100%);
	}
}

.portrait__layer-sprite {
	position: absolute;
	top: 50%;
	left: 50%;
	height: 100%;
	transform: translate(-50%, -50%);
}

.portrait__layer-sprite-image {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: auto;
	animation-duration: 2s;
	animation-timing-function: steps(15);
	animation-iteration-count: infinite;
	animation-name: sprite;
}

.portrait__layer-sprite-spacer {
	height: 100%;
	width: auto;
	position: relative;
	visibility: hidden;
	opacity: 0;
}

.layer-selector {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 220px;
	overflow: scroll;
	background-image: url('../images/ui/shelf.png');
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-position: bottom left;
	-webkit-overflow-scrolling: touch;
	padding-bottom: 15px;
	cursor: pointer;
}

.layer-selector--desktop {
	// overflow: hidden;
	cursor: -webkit-grab;
	cursor: -moz-grab;
	cursor: grab;
}

.layer-selector--desktop:active {
	// overflow: hidden;
	cursor: -webkit-grabbing;
	cursor: -moz-grabbing;
	cursor: grabbing;
}

.layer-selector__transform {
	position: absolute;
	bottom: 0;
	left: 0;
	top: 0;
	right: 0;
	transition: transform 1.66s cubic-bezier(0, 0, 0.12, 0.88) 0.4s;
}

.layer-selector__transform--active {
	transform: translateX(99%);
}

.layer-selector__scroller {
	white-space: nowrap;
	padding: 0;
	display: inline-block;
	margin: 0;
	height: 100%;
}

.layer-option {
	display: inline-block;
	position: relative;
	vertical-align: bottom;
	width: auto;
}

.layer-option--format-wide {
	height: 40%;
}

.layer-option--format-regular {
	height: 60%;
}

.layer-option--format-tall {
	height: 100%;
}

.layer-option:last-child {
	margin-right: 0;
}

.layer-option--active {
}

.layer-option__image {
	display: inline-block;
	width: auto;
	height: 100%;
	position: absolute;
	transition: opacity 0.3s ease;
	user-select: none;
}

.layer-option__image--inactive {
	position: relative;
}

.layer-option__image--active {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	opacity: 0.1;
}

.layer-option--active .layer-option__image--active {
	opacity: 1;
}

.loader {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: rgba(#443a2e, 0.8);
	transition: background 0.6s ease-in;
}

.loader--hidden {
	pointer-events: none;
	background: rgba(#666, 0);	
}

.loader__inner {
	position: absolute;
	top: 0;
	left: -50px;
	bottom: 0;
	right: -50px;
	background: #fed3c2;
	transition: transform 0.6s ease-in;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	box-shadow: 0 3px 20px rgba(#000, 0.25);
}

.loader__inner--hidden {
	transform: translateY(-109%) rotate(-4deg);
	pointer-events: none;
}

.loader__image {
	width: 500px;
	max-width: 80vw;
}

.loader__progress {
	width: 600px;
}