* {
	box-sizing: border-box;
}

html, body {
	overflow: hidden;
	padding: 0;
	margin: 0;
}

.background__desert {
	background-image: url('/assets/images/background-desktop.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	top: 0;
	left: -70px;
	bottom: 0;
	right: -70px;
}

.background__surround {
	background-image: url('/assets/images/background-desktop-hand.png');
	background-size: auto 100%;
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	top: 0;
	left: -70px;
	bottom: 0;
	right: -70px;
}

.app {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	background-image: url('/assets/images/portrait/background.jpg');
	background-size: cover;
}

.app--phone {
}

.app--desktop {
	width: 54vh;
	height: 96vh;
}

.portrait,
.portrait__layer {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-size: cover;
	// background: orange;
}

.portrait {
	background-image: url('/assets/images/portrait/klein.png');

}

.portrait__layer {
	transition: opacity 0.15s ease-out;
}

.portrait__layer--inactive {
	opacity: 0;
}

.portrait__layer--active {
	opacity: 1;
}

.layer-selector {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 220px;
	overflow: scroll;
	background-image: url('/assets/images/ui/shelf.png');
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-position: bottom left;
	-webkit-overflow-scrolling: touch;
	padding-bottom: 15px;
}

.layer-selector__scroller {
	white-space: nowrap;
	padding: 0;
	display: inline-block;
	margin: 0;
	height: 100%;
	display: inline-flex;
	align-items: flex-end;
}

.layer-option {
	display: inline-block;
	position: relative;
	vertical-align: bottom;
	width: auto;
}

.layer-option--format-wide {
	height: 40%;
}

.layer-option--format-regular {
	height: 60%;
}

.layer-option--format-tall {
	height: 100%;
}

.layer-option:last-child {
	margin-right: 0;
}

.layer-option--active {
}

.layer-option__image {
	display: inline-block;
	width: auto;
	height: 100%;
	position: absolute;
	transition: opacity 0.3s ease;
	user-select: none;
}

.layer-option__image--inactive {
	position: relative;
}

.layer-option__image--active {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	opacity: 0.1;
}

.layer-option--active .layer-option__image--active {
	opacity: 1;
}

.loader {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: #fed3c2;
	transition: opacity 0.3s ease;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.loader--hidden {
	opacity: 0;
	pointer-events: none;
}

.loader__image {
	width: 500px;
	max-width: 80vw;
}

.loader__progress {
	width: 600px;
}